.nav-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
    padding-left: 2%;
    width: 20%;
    height: 100vh;
    font-size: 16px;
  }
  hr{
    width: 100%;
  }
  .nav-main a{
    width: 100%;
    border-radius: 5%;
    padding-left: 5%;
  }
  .nav-main a:hover{
    background-color: #D6D5CB;
    transition: 0.1ms;
  }
  .nav-main-title{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-main-title h1{
    margin-left: 4%;
  }
  .nav-main-socials {
    display: flex;
    flex-direction: row;
  }
  .nav-main-socials a{
    width: 20%;
    height: 20%;
  }
  .nav-main-socials img{
    max-width: 100%;
    height: auto;
  }